./07_decorateur/analysis/__pycache__
./06_special_method/analysis/__pycache__
./05_graphique/analysis/__pycache__
./10_PEP-8/analysis/__pycache__
./08_expression_reguliere/analysis/__pycache__
./09_generator/analysis/__pycache__
